<hr>

<!--

<div class="container">
    <div *ngIf="images.length > 0">
        <swiper [config]="config">
            <div class="swiper-wrapper">
                <div *ngFor="let number of randomImagesPerSlide; let i=index" class="swiper-slide" style="width: 600px;margin: 20px auto;">
                    <div *ngIf="number == 1" class="row">
                        <div class="col-sm-12" style="height: 600px;">
                            <img src="{{ images[randomImagesPerSlideHelper[i]].imagelink }}" alt="" style="max-width: 100%;max-height: 100%;">
                        </div>
                    </div>
                    <div *ngIf="number == 2" class="row">
                        <div class="col-md-6" style="height: 600px;">
                            <img src="{{ images[randomImagesPerSlideHelper[i]].imagelink }}" alt="" style="max-width: 100%;max-height: 100%;">
                        </div>
                        <div class="col-md-6" style="height: 600px;">
                            <img src="{{ images[randomImagesPerSlideHelper[i] + 1].imagelink }}" alt="" style="max-width: 100%;max-height: 100%;">
                        </div>
                    </div>
                    <div *ngIf="number == 3" class="row">
                        <div class="col-md-6" style="height: 600px;">
                            <img src="{{ images[randomImagesPerSlideHelper[i]].imagelink }}" alt="" style="max-width: 100%;max-height: 100%;">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-12" style="height: 300px;">
                                    <img src="{{ images[randomImagesPerSlideHelper[i] + 1].imagelink }}" alt="" style="max-width: 100%;max-height: 100%;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" style="height: 300px;">
                                    <img src="{{ images[randomImagesPerSlideHelper[i] + 2].imagelink }}" alt="" style="max-width: 100%;max-height: 100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="number == 4" class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-12" style="height: 300px;">
                                    <img src="{{ images[randomImagesPerSlideHelper[i]].imagelink }}" alt="" style="max-width: 100%;max-height: 100%;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" style="height: 300px;">
                                    <img src="{{ images[randomImagesPerSlideHelper[i] + 1].imagelink }}" alt="" style="max-width: 100%;max-height: 100%;">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-12" style="height: 300px;">
                                    <img src="{{ images[randomImagesPerSlideHelper[i] + 2].imagelink }}" alt="" style="max-width: 100%;max-height: 100%;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" style="height: 300px;">
                                    <img src="{{ images[randomImagesPerSlideHelper[i] + 3].imagelink }}" alt="" style="max-width: 100%;max-height: 100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- Add Arrows -->
            <!--<div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </swiper>
    </div>
</div>
-->


<hr>

<br>
<br>
<div class="container">
    <swiper [config]="config">
        <div class="swiper-wrapper">
            <div *ngFor="let number of randomImagesPerSlide" class="swiper-slide" style="width: 600px;margin: 20px auto;">
                <div *ngIf="number == 1" class="row">
                    <div class="col-sm-12" style="background-color:red;height: 100px;"></div>
                </div>
                <div *ngIf="number == 2" class="row">
                    <div class="col-md-6" style="background-color:red;height: 100px;"></div>
                    <div class="col-md-6" style="background-color:blue;height: 100px;"></div>
                </div>
                <div *ngIf="number == 3" class="row">
                    <div class="col-md-6" style="background-color:red;height: 100px;"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-12" style="background-color:green;height: 50px;"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="background-color:blue;height: 50px;"></div>
                        </div>
                    </div>
                </div>
                <div *ngIf="number == 4" class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-12" style="background-color:green;height: 50px;"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="background-color:blue;height: 50px;"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-12" style="background-color:orange;height: 50px;"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="background-color:red;height: 50px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </swiper>
</div>