<header-nav></header-nav>

<main>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</main>

<footer-nav></footer-nav>

<br><br><br><br>

<nav>
    <a [routerLink]=" ['./'] "
      routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Index
    </a>
    <a [routerLink]=" ['./home'] "
      routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Home
    </a>
    <a [routerLink]=" ['./detail'] "
      routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Detail
    </a>
    <a [routerLink]=" ['./about'] "
      routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      About
    </a>
</nav>
